Examen_Karate{
  background-image: url('/docs/p8.png');
}
CinturonNegroPrimerDan {
  font-family: Impact;
  display: block;
  border: black 2px solid;
  font-size: larger;
}
 CinturonNegroSegundoDan {
  font-family: Impact;
  font-size: larger;
  display: block;
  border: black 2px solid;
}
CinturonNegroTercerDan {
  font-family: Impact;
  display: block;
  border: black 2px solid;
  font-size: larger;
}
CinturonNegroCuartoDan {
  font-family: Impact;
  display: block;
  border: black 2px solid;
  font-size: larger;
}
CinturonNegroQuintoDan {
  font-family: Impact;
  display: block;
  border: black 2px solid;
  font-size: larger;
}
CinturonNegro {
  font-family: Impact;
  display: block;
  border: black 2px solid;
  font-size: larger;
}
Hasta3erDan {
  font-family: Impact;
  display: block;
  border: black 2px solid;
  font-size: larger;
}
SuspendeExamen {
  font-family: Impact;
  display: block;
  border: black 2px solid;
  font-size: larger;
}
AbonarCuota {
  font-family: Impact;
  display: block;
  border: black 2px solid;
  font-size: larger;
}
Resultados {
  font-family: Impact;
  display: block;
  border: black 2px solid;
  font-size: larger;
}
Tribunal {
  font-family: Impact;
  display: block;
  border: black 2px solid;
  font-size: larger;
}
Jueces {
  font-family: Impact;
  display: block;
  border: black 2px solid;
  font-size: larger;
}
Meritos {
  font-family: Impact;
  display: block;
  border: black 2px solid;
  font-size: larger;

}
Convalidacion_grados {
  font-family: Impact;
  display: block;
  border: black 2px solid;
  font-size: larger;
}
Requisitos_Aspirante {
  font-family: Impact;
  display: block;
  border: black 2px solid;
  font-size: larger;
}
DispensaMedica {
  font-family: Impact;
  display: block;
  border: black 2px solid;
  font-size: larger;
}
Criterio_Valoracion {
  font-family: Impact;
  display: block;
  border: black 2px solid;
  font-size: larger;
}Aspirantes {
  font-family: Impact;
  display: block;
  border: black 2px solid;
  font-size: larger;
}
